
pre {
  background-color: #efefef;
  padding: 1rem;
  border-radius: 5px;
  white-space: pre-wrap;
}

pre code {
  padding: 0;
}

code {
  background-color: #efefef;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 3px;
}

a {
  color: #0084ff;
}

